.name {
  display: flex;
  height: 304px;
  width: 964px;
  margin: 6% auto 0;
}

.play {
  display: flex;
  margin: 5px auto;
}

.start {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 150px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.start:after {
  color: #e9e6e4;
  content: "";
  display: block;
  font-size: 65px;
  height: 110px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 110px;
}

.home:after {
  content: "\025B6";
  top: 14%;
  left: 18%;
}

.start:hover {
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color: #0088cc;
}

.home:hover:after {
  color: #0a58bd;
  text-shadow: 0px 0px 6px #074da8;
}

.start:active {
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.start:active:after {
  color: #dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
