<div class="body">
    <img class="gameName" src="../../assets/images/heading.png">
<div class="boardBG">
    <div class="board">
    <div class="tile" *ngFor='let in of counter(42) ;let i = index'> 
        <div id="inner-circle" *ngIf="!isFilled[i]" (click)="changeColour(i)"></div>
        <div id="inner-circle-filled-player" *ngIf="isFilled[i] && playerTurn[i]" (click)="changeColour(i)"></div>
        <div id="inner-circle-filled-bot" *ngIf="isFilled[i] && !playerTurn[i]" (click)="changeColour(i)"></div>
    </div>
</div>
</div>
</div>
