<div class="body">

  <div class="finishMessage" [ngStyle]="{'visibility': gameEnd? 'visible' : 'hidden'}">
    <h3> {{winningLine}} </h3>
  </div>


  <div class="finish" [ngStyle]="{'visibility': gameEnd? 'visible' : 'hidden'}">
    <div class="startNew" style="position:absolute;">
      <button class="button-start" (click)="reset()"><h4>Start a New Game</h4></button>
    </div>
    <div class="finishBoardAI" [ngStyle]="{'visibility': whoWon=== 'AI'? 'visible' : 'hidden'}" style="position:absolute;"></div>
    <div class="finishBoardPlayer" [ngStyle]="{'visibility': whoWon=== 'Player'? 'visible' : 'hidden'}" style="position:absolute;"></div>
  </div>
  

  <div class="contain">
    <div class="turn" [ngStyle]="{'visibility': gameEnd? 'hidden' : 'visible'}">
      <!-- [ngStyle]="{'visibility': whoseTurn_visible === true? 'hidden' : 'visible'}" -->
          <h2>{{turn}} turn</h2>
          <img class="turnButton" [src]="turnCoin">
    </div>
    <div>
    <div class="arrow" [ngStyle]="positionLeft()">
      <img src="../../assets/images/arrow.svg">
    </div>
    <div class="boardBG">
      <div class="board">
        <div class="tile" *ngFor="let in of counter(42); let i = index">
          <div class="inner-circle coin" *ngIf="!isFilled[i]" (click)="changeColour(i)"(mouseover)="changeArrow(i)"></div>
          <div class="inner-circle-filled-player coin" *ngIf="isFilled[i] && whoseTurn[i] === 'player' && !winning[i]" (click)="changeColour(i)"></div>
          <div class="inner-circle-filled-bot coin" *ngIf="isFilled[i] && whoseTurn[i] === 'bot' && !winning[i]" (click)="changeColour(i)"></div>
          <div class="inner-circle-filled-winRed coin" *ngIf="winning[i] && whoseTurn[i] === 'player'"></div>
          <div class="inner-circle-filled-winYellow coin" *ngIf="winning[i] && whoseTurn[i] === 'bot'"></div>
        </div>
      </div>
    </div>
    </div>
    <div class="others" (click)="reset()" [ngStyle]="{'visibility': gameEnd? 'hidden' : 'visible'}">
    </div>
  </div>
</div>